*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0,0,0,0.6);
    min-height: 100vh;
}
/** 
* ! Calculator Grid
**/

.container {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    border: 2px solid #1C1C1C;
    
}



.display-values {
    width: 100%;
    height: 100px;
    display: block;
    border-bottom: 1px solid #1C1C1C;
    background-color: #333333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    text-align: right;
    font-size: 3rem;
    color: #fff;
}

.display-values p {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 3rem;
    color: #fff;
    margin-right: 10px;
}


.oporands-section {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    gap: 0;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 5px auto;
        height: 100vh;
        display: block;
        margin: 0;
    }

    .oporands-section {
        height: calc(100vh - 100px);
    }
   
}
.grid-items {
    border: 0.5px solid #332F2E;
    font-size: 1.3rem;
    transition: all 0.3s;
}

.grid-items:active {
   text-shadow: -1px -1px 0px #777, -1px -1px 0px #777;
   box-shadow:0 0 6px #000000 inset;
   transform: scale(.98);
   border-color: #FF9500;
}

.oporands-section .zero {
    grid-column: span 2;
}

.functional-values {
    background-color: #5C5C5C;
    color: #fff;
}

.operation-values {
    background-color: #FF9500;
    color: #fff;
}

.number-values {
    background-color: #505050;
    color: #fff;
}